{% extends 'base.html' %}

{% block titulo %}Eliminar Proveedor | Similares{% endblock %}

{% block contenido %}
<div class="confirmation-container">
    <h2>¿Estás seguro de que quieres borrar a "{{ proveedor.nombre_empresa }}"?</h2>
    <p>Esta acción no se puede deshacer y eliminará todos los productos asociados.</p>
    <form method="post">
        {% csrf_token %}
        <div class="actions">
            <button type="submit" class="btn btn-danger">Sí, Borrar</button>
            <a href="{% url 'app_producto_proveedor:detalle_proveedor' proveedor.id %}" class="btn">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}